<div class="container">
    <h1>Avisos</h1>
   
   <section class="avisos">
        <h2>Titulo</h2>
        <p>Data</p>
        <p>ConteudodoConteudoCteudoConteudoConteudoConteudoConteuConteudodoConteudoCteudoConteudoConteudoConteudoConteudoConteudodoConteudoCteudoConteudoConteudoConteudoConteudoConteudodoConteudoCteudoConteudoConteudoConteudoConteudoConteudodoConteudoCteudoConteudoConteudoConteudoConteudoConteudodoConteudoCteudoConteudoConteudoConteudoConteudoConteudodoConteudoCteudoConteudoConteudoConteudoConteudodo</p>
   </section>
     
</div>