<div class="container">
     <h1>Avisos</h1>

     {{#each aviso}}
     <section class="avisos">
          <h2>{{titulo}}</h2>
          <p>{{createdAt}}</p>
          <p>{{conteudo}}</p>
     </section>
     {{/each}}

</div>