body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3rem;
}

.container{
    text-align: center;
}

.content{
    display: flex;
    justify-content: center;
}

main{
    width: 500px;
    display: flex;
    flex-direction: column;
}

input, textarea{
    width: 80%;
    margin: 25px;
    padding: 25px;
    font-size: 1.2rem;
}

button{
    font-size: 1.2rem;
}

.link{
    margin-top: 25px;
}

a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
}

a:hover{
    color: white;
    background-color: black;
}

.avisos{
    background-color: rgb(189, 189, 189);
    text-align: start;
    width: 700px;
    height: 250px;
    padding: 25px;
    margin: auto;
    margin-bottom: 25px;
    word-wrap: break-word;
    overflow-y:auto;
}

.avisos h2{
    text-align: center;
}

@media screen and (max-width:800px) {
    .avisos{
        width: 80%;
    }
}
